
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Nunito&family=Playfair+Display:wght@500&family=Poppins:wght@200;300;400;500;600&family=Quicksand:wght@300&family=Source+Sans+Pro&display=swap');
.hire_signup{
       display: flex;
       justify-content: center;
       height: 100vh;
}
.signup_content{
       width: 450px;
       height: 530px;
       background-color: white;
       border-radius: 12px;
       margin-top: 150px;
}

.hiresignup_txt{
       
       font-size: 45px;
       font-weight: 400;
       font-family: 'Source Sans Pro', sans-serif;
}
.hiresignup_txt1{
       font-size: 19px;
}
.hire_signupbtn{
       margin-top: 40px;
       margin-left: 80px;
       border-radius: 1px;
       padding: 6px 110px;
}