::-webkit-scrollbar {
       display: none;
     }
     .highlight{
      background-color: red;
     }
     h4{
       margin-left: 200px;
     }

     .overlay {
      position: fixed; /* Sit on top of the page content */
      width: 16%; /* Full width (cover the whole page) */
      height: 5%; /* Full height (cover the whole page) */
      top:220px;
      left: 250px;
      right: 0;
      bottom: 0;
      background-color:white; /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
     
    }
    .card{
      width: 240px;
      height: 45px;
      background-color: rgb(67,160,71);
      color: white;
    }
    .show{
      display: none;
    }