::-webkit-scrollbar {
  display: none;
}
.highlight {
  background-color: red;
}
h4 {
  margin-left: 200px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 10%; /* Full width (cover the whole page) */
  height: 5%; /* Full height (cover the whole page) */
  top: 220px;
  left: 350px;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.card {
  width: 240px;
  height: 45px;
  background-color: rgb(67, 160, 71);
  color: white;
}

.card_1 {
  width: 240px;
  height: 45px;
  background-color: rgb(5, 161, 83);
  color: white;
}
.msg_1 {
  position: relative;
  top: 10px;
}

.find_replace {
   background-color: darkslateblue; 
  width: 300%;
}
.find {
  height: 555px;
  width: 150%;
}
.replace {
  height: 300px;
  width: 150%;
  border: 5px;
  border-color: white;
}
.vl {
  border-left: 2px solid white;
  height: 555px;
}
.text {
  position: relative;
  top: 5px;
  left: 5px;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255, 1);
}
.text_input:focus {
  border-color: blue;
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: none;
}
.text_input{
  background-color: rgb(28, 28, 28);
  color: white;
width: 95.3%;
height:200px;
}
.search_input:focus {
  border-color: blue;
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: none;
}
.search_input{
  background-color: rgb(28, 28, 28);
  color: white;
  width: 95.3%;
height: 55px;
}
.text_to {
  color: white;
  margin-left: 18px;
  margin-top: 10px;
}
.search_txt {
  color: white;
  margin-top: 25px;
  margin-left: 18px;
}
.replace_txt {
  color: white;
  margin-top: 40px;
  margin-left: 18px;
}
.replace_btn {
  background-color: rgb(41, 146, 41);
  margin-top: 40px;
  margin-left: 20px;
 margin-right: 610px;
  padding: 6px 20px;
}
.replace_btn:hover {
  background-color: rgb(63, 185, 63);
}

.clear_btn {
  background-color: rgb(222, 18, 18);
  margin-top: 40px;
  margin-left: 18px;
 margin-right: 610px;
  padding: 6px 10px;
  position: relative;
  bottom: 79px;
  left: 150px;
}
.clear_btn:hover {
  background-color:rgb(164, 18, 18);
}
.replaced_txt {
  color: white;
  margin-left: 20px;
  margin-top: 5px;
}
.replaced_input{
  margin-left: 20px;
  height: 136px;
  width: 95.3%;
  background-color: rgb(28, 28, 28);
  color: white;
}
 .replaced_input:focus {
  border-color: blue;
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: none;
} 
.check{
 margin-left: 25px;
  font-size: 20px;
   color: white;
   margin-top: 30px;
}
.check_box{
  font-size: 20px;
}
.occurrence {
  color: white;
  margin-left: 30px;
  display: none;
  
}
.occurrences {
  display: block;
}
code{
  font-size: 20px;
  color: white;
  padding-left: 10px;
  background-color: red;
}
